# misc
.*.swp
._*
.DS_Store
.git

# yarn
.yarn/*
.yarnrc.yml
.pnp.cjs

# dev
.github
.vscode
demo
src
tests

#config
.all-contributorsrc
.eslint*
.prettier*
jest*
.gitignore
rollup.config.js
tsconfig.json

# test coverage
coverage/
